<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
  
   left: 0;
   bottom:10px;
   
   width: 100%;
   background-color:white;
   color: red;
   text-align: center;
   height:100px;

}

</style>
</head>
<body>

<div class="footer">
  
      <br>
     <h4> Get your blood
       <a href="https://www.google.com/maps/dir//KSR+Road,+Opp+Bishop's+House,+Kodailbail,+Mangaluru,+Karnataka+575003/@12.8877792,74.7209254,18z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba35a4e4fe99a89:0xed72ce8be87c6920!2m2!1d74.8412242!2d12.8730398?entry=ttu" target="_blank"> @Yenepoya Specialty Hospital </h4> </a> <br>
  
        <h4>Address:  KSR Road, Opp Bishop's House, Kodailbail, Mangaluru, Karnataka 575003<br>
          Phone: 0824 423 8855<br>
          Hours: Open 24 hours
        </h4><br>
        <br>
        <h5 style="color:black;text-align:center">developed By :<br>
          Saida Arshi<br>
          Saniha sait<br>
          Aysha Abid</h5>
          <br>
          <br>
          <br>
          <p> Made at YIT &copy 2024</p>
</div>


</body>
</html> 

